.container {
    border: 1px solid black;
    height: 300px;
    margin-top: 180px;
    width: 180px;
    float: left;
    background-color: white;
    margin-left: 32px;
    border-radius: 10px; 
    display: flex
    }